/* VARIABLES */
:root {
   
}

/* UPDATING VARIABLES WITH USER THEME */
@media (prefers-color-scheme: dark) {

    /* User's préference to dark with no manual change */
    html:not(.light) {}

    /* User's préference to dark with manual change */
    html:is(.light) {}
}

@media (prefers-color-scheme: light) {

    /* User's préference to light with no manual change */
    html:not(.dark) {
        
    }

    /* User's préference to light with manual change */
    html:is(.dark) {
       
    }
}